/* GLOBAL STYLES */
body{
    background-color: #F9F7F3;
    max-width: 100vw;
}

/*
    Styles of the landing page, arranged in order of appearance 
*/


/* Navbar's styles */
.navbar{
    min-height: 8vh;
    font-size: 1.5rem;
}

.navbar-logo{
    height: 5rem;
}


/* Carousel-Hero Image's styles */
.carousel-image{
    height: 91vh;
    object-fit: cover;
    opacity: 65%;
}

.translucent-layer{
    background-color: rgba(0, 0, 0);
}


/* Presentation's styles */
.presentation{
    margin: 10% 0 10% 0;
    scroll-margin-top: 10vh;
}

.presentation-img-1{
    height: 100%;
    max-height: 50vh;
}

.presentation-img-2{
    margin-bottom: 0;
    max-height: 30vh;
    width: 100%;
}

.presentation-text{
    max-height: 100%;
    text-align: justify;
    text-justify: inter-word;
}

.presentation-text p{
    margin-top: 1vh;
}


/* Biography's styles */
.accordion-button {
    color: darkgray;
}

.accordion-button::after{
    all: unset;
}

.accordion-button:not(.collapsed) {
    color: white;
}

.info-accordion-content{
    background-color: black;
    height: 100%;
    width: 100%;
    position: relative;
}

.info-button{
    height: 14vh;
    padding: 0;
}

.info-button-content{
    background-color: black;
    height: 100%;
    position: relative;
}

.info-button-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 2;
}

.info-button-text:hover, .info-button:hover{
    color: white
}

.info-button-image{
    height: 100%;
    width: 100%;
    opacity: 70%;
}

.info-div{
    width: 100%;
    padding: 0 10% 0 10%;
}

.info-tabs{
    border: 2px solid darkgray;
    margin-top: 5%;
    padding: 2%;
}

.nav-link{
    color: darkgray;
}

.tab-pane p{
    text-align: justify;
}