/* ESTILOS GLOBALES */
body{
    background-color: #F9F7F3;
}


/* ESTILOS DE LA MITAD SUPERIOR DE LA PÁGINA: */
/* Navbar | Hero Image | Presentación | Carousel | Biografía | TODO */


/* Estilos de la navbar */

.navbar{
    min-height: 8vh;
    font-size: 1.5rem;
}

.navbar-logo{
    max-height: 5rem;
}


/* Estilos del Carousel-Hero Image */

.carousel-image{
    height: 91vh;
    object-fit: cover;
    opacity: 70%;
}

.translucent-layer{
    background-color: rgba(0, 0, 0);
}


/* Estilos de la presentación */
.presentation{
    margin: 10% 3% 10% 3%;
}

.presentation-img-1{
    height: 100%;
    max-height: 50vh;
}

.presentation-img-2{
    margin-bottom: 0;
    max-height: 30vh;
    width: 100%;
}

.presentation-text{
    max-height: 100%;
    text-align: justify;
    text-justify: inter-word;
}

.presentation-text p{
    margin-top: 1vh;
}


/* Estilos de la información adicional */

.accordion-button{
    color: darkgray;
}

.accordion-button:not(.collapsed) {
    color: white;
}

.info-accordion-content{
    background-color: black;
    height: 100%;
    width: 100%;
    position: relative;
}

.info-button{
    height: 14vh;
    padding: 0;
}

.info-button-content{
    background-color: black;
    height: 100%;
    position: relative;
}

.info-button-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 2;
}

.info-button-text:hover, .info-button:hover{
    color: white
}


.info-button-image{
    height: 100%;
    width: 100%;
    opacity: 70%;
}

.info-div{
    width: 100%;
    padding: 0 10% 0 10%;
}

.info-tabs{
    border: 2px solid darkgray;
    margin-top: 5%;
    padding: 2%;
}

.nav-link{
    color: darkgray;
}


.tab-pane p{
    text-align: justify;
}